body {
  background-color: black;
  color: white;
  font-family: monospace;
}

h1 {
  color: purple;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

h2,
h4 {
  color: purple;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

p {
  color: aquamarine;
  font-size: 20px;
}

ol,
ul {
  color: yellowgreen;
  font-size: 18px;
}
